
input[type=radio] {
	position: absolute;
	visibility: hidden;
	display: none;
}

label {
	color: #fff;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	padding: 8px 20px;
}

input[type=radio]:checked + label {
	color: #fff;
	background: #6fb98f;
}

label + input[type=radio] + label {
	border-left: solid 2px #6fb98f;
}

.radio-group {
	border: solid 2px #6fb98f;
	display: inline-block;
	margin: 20px;
	overflow: hidden;
}