.check
	display: inline-block
	margin: 1rem
	position: relative
.todo-task, .form__todo-task
	display: flex
	align-items: center
	justify-content: space-between
	width: 100%
	padding: 8px
	margin: 5px 0
	@media screen and (max-width: 980px)
		flex-direction: column
		align-items: inherit
		height: max-content
		padding: 30px
		margin-bottom: 15px
		border: 1px solid rgba(111, 185, 143, 0.2)
	&:hover
		background-color: rgba(150,150,150, 0.2)

	&__wrapper
		width: 55%
		display: flex
		align-items: center
		@media screen and (max-width: 980px)
			width: 100%
			margin-bottom: 10px
		@media screen and (max-width: 480px)
			flex-wrap: wrap

	&__title, &__input
		height: 41px
		width: -webkit-fill-available
		margin: 0 5px
		padding: 15px
		border: 1px solid rgba(44,120,115,0.5)
		color: rgba(255, 255, 255, 0.8)
		font-size: 20px
		max-width: 85%
		text-overflow: ellipsis
		white-space: nowrap
		overflow: hidden
		display: flex
		align-items: center
		justify-content: flex-start
		@media screen and (max-width: 980px)
			width: 95%

	&__container
		width: 100%
		position: relative

	&__input
		width: 100%
		border: 1px solid #999

	&__submit
		width: 41px
		height: 41px
		background-color: #eb4f37
		color: white
		position: absolute
		right: 38px
		font-size: 30px
		@media screen and (max-width: 980px)
			top: 0
			right: 0

	&__delete, &__edit
		height: auto
		display: flex
		align-items: center
		justify-content: center
		font-size: 20px
		padding: 8px 20px
		background-color: rgba(111, 185, 143, 0.5)
		@media screen and (max-width: 580px)
			font-size: 16px
		&:hover
			box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2)
			background-color: rgba(150, 150, 150, 0.5)

			img
				animation: animationTrash 2s infinite linear

		img
			margin: 0 5px

	&__edit
		background-color: rgba(44, 120, 115, 0.5)
		img
			margin: 0 5px
		&:hover
			img
				animation: animationTrash 2s infinite linear
		@media screen and (max-width: 980px)
			margin: 5px 0

	&__progress
		position: relative
		margin: 5px

		select
			height: 41px
			font-family: monospace
			font-size: 20px
			background-color: transparent
			color: #fff
			border: 1px solid rgba(44,120,115,0.5)
			padding: 0 10px

			&:focus
				outline: none

			option
				background-color: transparent
				color: #000
				padding: 3px
				font-family: monospace

	&__block
		min-width: 220px

	&__user
		display: flex
		align-items: center
		justify-content: center
		color: white

		img
			margin-left: 10px
			max-width: 60px
			width: 100%
			max-height: 60px
			height: 100%

	&__icon
		width: 20px
		height: 20px

.form__todo-task
	width: 90%
	justify-content: flex-start

	&__delete
		margin-left: 20px

	@media screen and (max-width: 980px)
		&__delete
			margin: 20px


@keyframes animationTrash
	0%
		transform: rotate(-45deg)
	25%
		transform: rotate(0deg)
	50%
		transform: rotate(45deg)
	75%
		transform: rotate(0deg)
	100%
		transform: rotate(-45deg)